<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/styleSheet.css"/>
</head>
<body class="headerView">
{{>header}}
<h1 class="textHead"><< help {{title}} app >>></h1>
<p class="textHead">{{title}} </p>
</body>
</html>
